<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongoose Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>


<body>
    <a href="/flights/new">ADD FLIGHT</a><br><br>
    <a href="/flights">VIEW FLIGHTS</a>
    <h1>Flight Details</h1>
    <section id="show-page">
        <div><strong>AIRPORT:</strong></div>
        <div><%= flight.airport %></div><br>
        <div><strong>AIRLINE:</strong></div>
        <div><%= flight.airline %></div><br>
        <div><strong>FLIGHT #:</strong></div>
        <div><%= flight.flightNum %></div><br>
        <div><strong>DEPARTURES:</strong></div>
        <div><%= flight.departs %></div><br>
    </section>
    <% if (flight.destinations.length) { %>
        <table>
            <thead>
                <th>ARRIVAL AIRPORT</th>
                <th>ARRIVAL TIME</th>
                <th>TICKET</th>
            </thead>
            <tbody>
                <% flight.destinations.forEach(function(des) { %>
                <tr>
                    <td><%= des.airport %></td>
                    <td><%= des.arrival %></td>
                    <td></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <% } else { %>
        <h3>No Set Destination</h3>
        <% } %>

    <h2>Add Destination</h2>
    <form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
        <label>Arrival Airport:
            <select name="airport">
                <option value="">-select airport-</option>
                <option value="AUS">AUS</option>
                <option value="DAL">DAL</option>
                <option value="LAX">LAX</option>
                <option value="SAN">SAN</option>
                <option value="SEA">SEA</option>
            </select>
        </label><br><br>

        <label>Arrival Time:
            <input type="datetime-local" name="arrival">
        </label><br><br>
        <input type="submit" value="Add Destination"><br><br>
        <a href="/flights/<%= flight._id %>/tickets/new">CHOOSE TICKET</a>
    </form>
    <h2>Tickets Purchased</h2>
    <% tickets.forEach(function(t) { %>
        <li><%= t.seat %> - <%= t.price %></li>
    <% }) %>
    
</body>

</html>