<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongoose Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>


<body class="detail">
    <nav>
        <a href="/flights/new">ADD FLIGHT</a>
        <a href="/flights">VIEW FLIGHTS</a>
        <a href="/flights/<%= flight._id %>/tickets/new">PURCHASE TICKET</a>
    </nav>
    
<h1>Flight Details</h1>
    <section id="show-page">
        <div><strong>AIRPORT:</strong></div>
        <div><%= flight.airport %></div><br>
        <div><strong>AIRLINE:</strong></div>
        <div><%= flight.airline %></div><br>
        <div><strong>FLIGHT #:</strong></div>
        <div><%= flight.flightNum %></div><br>
        <div><strong>DEPARTURES:</strong></div>
        <div><%= flight.departs %></div><br>
    </section>
    <% if (flight.destinations.length) { %>
    
    <table>
        <thead>
            <th>ARRIVAL AIRPORT:</th>
            <th>ARRIVAL TIME:</th>
        </thead>
        <tbody>
        <% flight.destinations.forEach(function(des) { %>
            <tr>
                <td class="ticketcolor"><%= des.airport %></td>
                <td class="ticketcolor"><%= des.arrival %></td>
            </tr>
                <% }); %>
        </tbody>
    </table>
        <% } else { %>
        
    <h3>No Set Destination</h3>
        <% } %>

        <h2>Tickets Purchased</h2>
            <table>
                <thead>
                    <th>SEAT</th>
                    <th>PRICE</th>
                </thead>
        <tbody>
            <% tickets.forEach(function(t) { %>
                <tr>
                    <td class="ticketcolor"><%= t.seat %></td>
                    <td class="ticketcolor"><%= t.price %></td>
                </tr>
            <% }); %>
        </tbody>
            </table>
    <h2>Add Destination</h2>
    <form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
        <label class="labeltext">Arrival Airport:
            <select name="airport">
                <option value="">-select airport-</option>
                <option value="AUS">AUS</option>
                <option value="DAL">DAL</option>
                <option value="LAX">LAX</option>
                <option value="SAN">SAN</option>
                <option value="SEA">SEA</option>
            </select>
        </label><br><br>

        <label class="labeltext">Arrival Time:
            <input type="datetime-local" name="arrival">
        </label><br><br>
        <input class="submitbtn" type="submit" value="Add Destination"><br><br>
       
    </form>
    
</body>

</html>